<template>
    <div>
        <slot name="line-one"></slot>
        <slot></slot>
        <p>{{counter}}</p>
        <button @click="counter++">Add to counter</button>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                counter: 0
            }
        },
        destroyed(){
            console.log('destroyed')
        },
        activated(){
            console.log('activated');
        },
        deactivated(){
            console.log('deactivated');
        }
    }
</script>

<style scoped>
    div {
        border: 1px solid green;
        background-color: lightgreen;
        padding: 30px;
        margin: 20px auto;
        text-align: center
    }
</style>