<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Filters</h1>
                <p>{{text| toUppercase}}</p>
                <p>{{text| toLowercase}}</p>
                <p>{{text| toUppercase | toLowercase }}</p>
                <div class="fruits">
                    <ul>
                        <li v-for="fruit in fruits">{{ fruit | toLowercase}}</li>
                    </ul>
                </div>
                <hr>
                <div class="fruits">
                    <ul>
                        <li v-for="fruit in modifiedFruits">{{ fruit }}</li>
                    </ul>
                </div>
                <hr>
                <input type="text" v-model="filterText">
                <div class="fruits">
                    <ul>
                        <li v-for="fruit in filteredFruits">{{ fruit }}</li>
                    </ul>
                </div>
                <button @click="fruits.push('Oranges')">Add New Item</button>
                <hr>

            </div>
        </div>
        <list></list>
    </div>
</template>

<script>
    import List from './List.vue'
    import {myMixin} from './mixin';
    export default {
        mixins: [myMixin],
        data(){
            return {
                text: 'Hello World!',
            }
        },
        filters: {
            toUppercase(value){
                return value.toUpperCase()
            }
        },
        components: {
            List
        }
    }
</script>

<style>

</style>
