<template>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <input type="text" v-model="filterText">
            <h1>Mixins</h1>
            <div class="fruits">
                <ul>
                    <li v-for="fruit in filteredFruits">{{ fruit }}</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import { myMixin } from './mixin.js'
    export default {
        mixins: [myMixin],
        created(){
            console.log('component has the last word');
        }
    }
</script>

<style>

</style>
