<template>
    <ul class="nav nav-pills">
        <router-link to="/"
                     tag="li"
                     class="nav-item"
                     active-class="active"
                     exact>
            <a class="nav-link">Home</a>
        </router-link>
        <router-link to="/user"
                     tag="li"
                     class="nav-item"
                     active-class="active">
            <a class="nav-link">User 1</a>
        </router-link>
    </ul>
</template>