<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
    <style>
        .slide-enter {
            opacity: 0;
        }
        .slide-enter-active {
            animation: slide-in 1s ease-in-out forwards;
            transition: opacity .5s ease-in-out;
        }
        .slide-leave {
        }
        .slide-leave-active {
            animation: slide-out 1s ease-in-out forwards;
            transition: opacity 1s ease-in-out;
            opacity: 0;
            position: absolute;
        }
        .slide-move {
            transition: transform 1s;
        }

        @keyframes slide-in {
            from {
                transform: translateY(-20px);
            }
            to {
                transform: translateY(0);
            }
        }
        @keyframes slide-out {
            from {
                transform: translateY(0);
            }
            to {
                transform: translateY(-20px);
            }
        }
    </style>
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center"
                     style="background-color: green; margin: 0; color: white;"
                     :style="{width: players.human.health + '%'}">
                    {{players.human.health}}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center"
                     style="background-color: green; margin: 0; color: white;"
                     :style="{width: players.monster.health + '%'}">
                    {{players.monster.health}}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls">
        <div class="small-12 columns">
            <button id="start-game"
                    @click="startGame()">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-if="gameStatus">
        <div class="small-12 columns">
            <button id="attack"
                    @click="attack()">ATTACK</button>
            <button id="special-attack"
                    @click="specialAttack()">SPECIAL ATTACK</button>
            <button id="heal"
                    @click="heal()">HEAL</button>
            <button id="give-up"
                    @click="giveUp()">GIVE UP</button>
        </div>
    </section>
    <section class="row log" v-if="gameStatus">
        <div class="small-12 columns">
            <ul>
                <transition-group name="slide">
                    <li v-for="(log, index) in logs" :key="logs.length - index">
                        <div :style="{background: log.color}">
                            {{log.who}} {{log.action}} {{log.number}}
                        </div>
                    </li>
                </transition-group>
            </ul>
        </div>
    </section>
</div>
<script src="app.js"></script>
</body>
</html>