<template>
    <div class="app-header">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <router-link class="navbar-brand" to="/">Stock Trader</router-link>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <router-link to="/portfolio"
                                 class="nav-item"
                                 tag="li"
                                 activeClass="active">
                        <a class="nav-link">Portfolio</a>
                    </router-link>
                    <router-link to="/stocks"
                                 class="nav-item"
                                 tag="li"
                                 activeClass="active">
                        <a class="nav-link">Stocks</a>
                    </router-link>
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link"
                           @click="endDay"
                           style="cursor: pointer">End Day</a>
                    </li>
                    <li class="nav-item dropdown"
                        :class="{show: isDropdownOpen}"
                        @click="isDropdownOpen = !isDropdownOpen">
                        <a class="nav-link dropdown-toggle"
                           href="#" id="navbarDropdownMenuLink"
                           role="button" data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            Save & Load
                        </a>
                        <div class="dropdown-menu"
                             aria-labelledby="navbarDropdownMenuLink"
                             :class="{show: isDropdownOpen}">
                            <a class="dropdown-item"
                               href="#"
                               @click="saveData">Save Data</a>
                            <a class="dropdown-item"
                               href="#"
                               @click="loadData">Load Data</a>
                        </div>
                    </li>
                </ul>
                <strong class="navbar-text">Funds {{funds | currency}}</strong>
            </div>
        </nav>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        computed: {
            funds(){
                return this.$store.getters.funds
            }
        },
        data(){
          return {
              isDropdownOpen: false
          }
        },
        methods: {
            ...mapActions({
                rndStocks: 'rndStocks',
                fetchData: 'loadData'
            }),
            endDay(){
                this.rndStocks()
            },
            saveData(){
                const data = {
                    funds: this.$store.getters.funds,
                    stockPortfolio: this.$store.getters.stockPortfolio,
                    stocks: this.$store.getters.stocks
                }
                this.$http.put('data.json', data)
            },
            loadData(){
                this.fetchData()
            }
        }
    }
</script>