<template>
    <div>
        <h1>The User Page</h1>
        <hr>
        <p>Loaded ID: {{id}}</p>
        <hr>
        <button @click="navigateToHome"
                class="btn btn-primary">Go to Home</button>
        <hr>
        <router-view></router-view>
    </div>

</template>

<script>
    export default {
        props: {
            id: {
                type: String,
                default: 'Vue!'
            }
        },
        methods: {
            navigateToHome(){
                this.$router.push({path: '/'})
            }
        }
    }
</script>