<template>
    <div>
        <h3>Some User Details</h3>
        <p>User loaded has ID: {{id}}</p>
        <hr>
        <!-- 3 different ways to achieve the same - nav links -->
        <router-link :to="editLink"
                     tag="button"
                     class="btn btn-secondary">Edit user</router-link>
        <router-link :to="link"
                     tag="button"
                     class="btn btn-secondary">Edit user</router-link>
        <button @click="navigateToEdit"
                class="btn btn-secondary">Edit user</button>
        <hr>
        <button @click="navigateToHome"
                class="btn btn-primary">Go back user list</button>
    </div>
</template>

<script>
    export default {
        props: {
            id: {
                type: String,
                default: 'UserId'
            }
        },
        data(){
            return {
                link: {
                    name: 'editRoute',
                    params: {
                        id: this.id
                    },
                    query: {
                        lang: 'en',
                        q: 100
                    },
                    hash: '#data'
                }
            }
        },
        methods: {
            navigateToHome(){
                this.$router.push({path: '/user'})
            },
            navigateToEdit(){
                this.$router.push({
                    name: 'editRoute',
                    params: {
                        id: this.id
                    }
                })
            }
        },
        computed: {
            editLink(){
                return this.id + '/edit'
            }
        },
        beforeRouteEnter(to, from, next){
            console.log('User Detail: beforeRouteEnter')
            //you can not access this.link for example because component is not created yet
            next(vm => {
                //only in callback you will have access to such data
                console.log('-->', vm.link)
            })
        }
    }
</script>