<template>
    <div>
        <h3>Edit the User</h3>
        <p>Lang: {{ $route.query.lang }}</p>
        <p>Q: {{ $route.query.q }}</p>
        <hr>
        <button class="btn btn-primary" @click="confirmed = true">Confirm</button>
        <hr>
        <div style="height:700px;"></div>
        <div id="data">Some extra data</div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                confirmed: false
            }
        },
        beforeRouteLeave(to, from, next){
            if(this.confirmed){
                next()
            } else {
                if(confirm('Are you sure')){
                    next()
                } else {
                    next(false)
                }
            }
        }
    }
</script>