<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Http</h1>
                <div class="form-group">
                    <label>Username:</label>
                    <input class="form-control"
                           type="text"
                           v-model="user.name">
                </div>
                <div class="form-group">
                    <label>Emial:</label>
                    <input class="form-control"
                           type="text"
                           v-model="user.email">
                </div>
                <button class="btn btn-primary"
                        @click="submit">Submit</button>
                <hr>
                <input class="form-controll"
                       type="text"
                       v-model="node">
                <br><br>
                <button class="btn btn-primary"
                        @click="fetch">Get data</button>
                <br>
                <br>
                <ul class="list-group">
                    <li class="list-group-item"
                        v-for="user in users">
                        <span>{{user.name}}</span>
                        <span> - {{user.email}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                user: {
                    name: '',
                    email: '',
                },
                users: [],
                resources: [],
                node: 'data'
            }
        },
        methods: {
            submit(){
                /*
                this.$http
                .post('data.json', this.user)
                .then(response => {
                    console.log('response: ', response)
                }, error => {
                    console.log('error: ', error)
                })*/
                //this.resource.save({}, this.user)
                this.resource.saveAlt(this.user)
            },
            fetch(){
/*                this.$http
                    .get('data.json')
                    .then(response => {
                        return response.json()
                    })
                    .then(response => {
                        Object.keys(response).map(item => {
                            this.users.push(response[item])
                        })
                    })*/
                this.resource
                    .getData({node: this.node})
                    .then(response => {
                        return response.json()
                    })
                    .then(response => {
                        Object.keys(response).map(item => {
                            this.users.push(response[item])
                        })
                    })
            }
        },
        created(){
            const customActions = {
                saveAlt: {
                    method: 'POST',
                    url: 'alternative.json'
                },
                getData: {
                    method: 'GET'
                }
            }
            this.resource = this.$resource('{node}.json', {}, customActions)
        }
    }
</script>

<style>
</style>
