<template>
    <div class="app-portfolio">
        <h1>The Portfolio Component</h1>
        <div class="row">
            <app-stock v-for="stock in stocks"
                       :stock="stock"></app-stock>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import Stock from './Stock.vue'
    export default {
        computed: {
            ...mapGetters({
                stocks: 'stockPortfolio'
            })
        },
        components: {
            appStock: Stock
        }
    }
</script>