<template>
    <div class="col-sm-6 col-md-4">
        <div class="card text-white bg-dark">
            <div class="card-header">
                {{`${stock.id}. ${stock.name}`}}
                <small>(Price: {{stock.price}} | Qty: {{stock.qty}})</small>
            </div>
            <div class="card-body">
                <h5 class="card-title">Choose the quantity:</h5>
                <p class="card-text">
                    <input
                            type="number"
                            class="form-control"
                            :class="{danger: insufficientQty}"
                            placeholder="Quantity"
                            v-model.number="qty">
                </p>
                <button class="btn btn-success"
                        @click="sellStock"
                        :disabled="insufficientQty || qty <= 0 || !Number.isInteger(qty)">
                    {{ insufficientQty ? 'Not enough' : 'Sell'}}
                </button>
            </div>
        </div>
        <br>
    </div>
</template>

<style>
    .danger {
        border: 1px solid red;
    }
</style>

<script>
    import { mapActions } from 'vuex'

    export default {
        props: ['stock'],
        data(){
            return {
                qty: 0
            }
        },
        computed: {
            insufficientQty(){
                return this.qty > this.stock.qty
            }
        },
        methods: {
            ...mapActions({
                placeSellOrder: 'sellStock'
            }),
            sellStock(){
                const order = {
                    id: this.stock.id,
                    price: this.stock.price,
                    qty: this.qty
                }
                this.placeSellOrder(order)
                this.qty = 0;
            }
        }
    }
</script>