<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Directives</h1>
                <p v-text="'Some text'"></p>
                <p v-html="'Some <strong>strong text</strong>'"></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Custom Directives</h1>
                <p v-lowlight:background="'green'">Some highlight text</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Custom Directives with Modifiers</h1>
                <p v-supercolor:background.blink="{mainColor: 'pink', secColor: 'orange', delay: 1000}">Some highlight text</p>
                <p v-local-color:color="'pink'">Some highlight text</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>TASK v-on</h1>
                <p v-myon:click="test">Some highlight text</p>
                <p v-myon:mouseover="test">Some highlight text</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        directives: {
            'local-color' : {
                bind(el, binding, vnode){
                    if(el.style.hasOwnProperty(binding.arg)){
                        el.style[binding.arg] = binding.value;
                    } else {
                        el.innerHTML = 'No such styling!!!'
                    }
                }
            }
        },
        methods: {
            test(){
                console.log('test')
            }
        }
    }
</script>

<style>

</style>
