<template>
    <div id="dashboard">
        <h1>That's the dashboard!</h1>
        <p>You should only get here if you're authenticated!</p>
        <ul>
            <li v-for="user in userList">
                USER: {{user.email}}
            </li>
        </ul>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                // userList: [],
            };
        },
        created() {
            this.$store.dispatch('fetchUsers')
        },
        methods: {},
        computed: {
            userList() {
                return this.$store.getters.users;
            },
        },
    };
</script>

<style scoped>
    h1, p {
        text-align: center;
    }

    p {
        color: red;
    }
</style>
