<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Animations</h1>
                <hr>
                    <select v-model="alertAnimation" class="form-control">
                        <option value="fade">Fade</option>
                        <option value="slide">Slide</option>
                    </select>
                <hr>
                <button class="btn btn-primary"
                        @click="show = !show">Show alert</button>
                <transition :name="alertAnimation">
                    <div class="alert alert-info"
                         v-if="show">Lorem ipsum bla bla bla</div>
                </transition>
                <transition name="slide" type="animation">
                    <div class="alert alert-info"
                         v-show="show">Lorem ipsum bla bla bla</div>
                </transition>
                <transition name="slide"
                            enter-class=""
                            enter-active-class="animated zoomInRight"
                            leave-class=""
                            leave-active-class="animated shake"
                            appear
                            @after-leave="afterLeaveSpecial">
                    <div class="alert alert-info"
                         v-if="show">Lorem ipsum bla bla bla</div>
                </transition>
                <hr>
                <transition name="fade" mode="out-in">
                    <div class="alert alert-info"
                         v-if="show" key="info">Lorem ipsum bla bla bla</div>
                    <div class="alert alert-warning"
                         v-else key="warning">Lorem ipsum bla bla bla</div>
                </transition>
                <hr>
                <div class="btn btn-primary"
                     @click="load = !load">Load / Remove Element</div>
                <br>
                <transition
                    @before-enter="beforeEnter"
                    @enter="enter"
                    @after-enter="afterEnter"
                    @enter-cancelled="enterCancelled"

                    @before-leave="beforeLeave"
                    @leave="leave"
                    @after-leave="afterLeave"
                    @leave-cancelled="leaveCancelled"

                    :css="false">
                    <div style="width: 100px; height:100px; background-color: lightcoral"
                         v-if="load"></div>
                </transition>
                <hr>
                <button class="btn btn-primary"
                        @click="selectedComponent === 'success-alert' ? selectedComponent = 'danger-alert' : selectedComponent = 'success-alert'">Toggle button</button>
                <transition name="fade" mode="out-in">
                    <component :is="selectedComponent"></component>
                </transition>
                <hr>
                <button class="btn btn-primary"
                        @click="addItem">Add Item</button>
                <ul class="list-group">
                    <transition-group name="slide">
                            <li class="list-group-item"
                                v-for="(number,index) in numbers"
                                @click="removeItem(index)"
                                style="cursor: pointer"
                                :key="number">{{number}}</li>
                    </transition-group>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import DangerAlert from './DangerAlert.vue'
    import SuccessAlert from './SuccessAlert.vue'
    export default {
        components: {
            dangerAlert: DangerAlert,
            successAlert: SuccessAlert
        },
        data() {
            return {
                show: true,
                alertAnimation: 'fade',
                load: false,
                someWidth: 100,
                selectedComponent: 'success-alert',
                numbers: [1,2,3,4,5]
            }
        },
        methods: {
            beforeEnter(el){
                console.log('beforeEnter')
                this.someWidth = 100
                el.style.width = this.someWidth + 'px'
            },
            enter(el, done){
                console.log('enter')
                let round = 1;
                let someInterval = setInterval(()=>{
                    el.style.width = (this.someWidth + (round * 10)) + 'px'
                    round++
                    if(round > 20){
                        clearInterval(someInterval)
                        done()
                    }
                }, 20)
            },
            afterEnter(el){
                console.log('afterEnter')
            },
            enterCancelled(el){
                console.log('enterCancelled')
            },

            beforeLeave(el){
                console.log('beforeLeave')
                this.someWidth = 300
                el.style.width = this.someWidth + 'px'
            },
            leave(el, done) {
                console.log('leave')
                let round = 1;
                let someInterval = setInterval(()=>{
                    el.style.width = (this.someWidth - (round * 10)) + 'px'
                    round++
                    if(round > 20){
                        clearInterval(someInterval)
                        done()
                    }
                }, 20)
            },
            afterLeave(el){
                console.log('afterLeave')
            },
            leaveCancelled(el){
                console.log('leaveCancelled')
            },

            afterLeaveSpecial(el){
                console.log('afterLeaveSpecial')
            },
            addItem(){
                const pos = Math.floor(Math.random() * this.numbers.length)
                this.numbers.splice(pos, 0, this.numbers.length + 1)
            },
            removeItem(index){
                this.numbers.splice(index, 1)
            }
        }
    }
</script>

<style>
    .alert {
        margin-top: 10px;
    }
    .fade-enter {
        opacity: 0;
    }
    .fade-enter-active {
        transition: opacity 1s ease-in-out;
    }
    .fade-leave {
        /*opacity: 1;*/
    }
    .fade-leave-active {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .slide-enter {
        opacity: 0;
    }
    .slide-enter-active {
        animation: slide-in 1s ease-in-out forwards;
        transition: opacity .5s ease-in-out;
    }
    .slide-leave {
    }
    .slide-leave-active {
        animation: slide-out 1s ease-in-out forwards;
        transition: opacity 1s ease-in-out;
        opacity: 0;
        position: absolute;
    }
    .slide-move {
        transition: transform 1s;
    }

    @keyframes slide-in {
        from {
            transform: translateY(20px);
        }
        to {
            transform: translateY(0);
        }
    }
    @keyframes slide-out {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(20px);
        }
    }

</style>
