<template>
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <div class="card-header">
                {{`${stock.id}. ${stock.name}`}}
                <small>(Price: {{stock.price}})</small>
            </div>
            <div class="card-body">
                <h5 class="card-title">Choose the quantity:</h5>
                <p class="card-text">
                    <input
                        type="number"
                        class="form-control"
                        :class="{danger: insufficientFunds}"
                        placeholder="Quantity"
                        v-model.number="qty">
                </p>
                <button class="btn btn-success"
                        @click="buyStock"
                        :disabled="insufficientFunds || qty <= 0 || !Number.isInteger(qty)">
                    {{ insufficientFunds ? 'Insufficient funds' : 'Buy'}}
                </button>
            </div>
        </div>
        <br>
    </div>
</template>

<style>
    .danger {
        border: 1px solid red;
    }
</style>

<script>
    export default {
        props: ['stock'],
        data(){
            return {
                qty: 0
            }
        },
        computed: {
            funds(){
                return this.$store.getters.funds
            },
            insufficientFunds(){
                return this.qty * this.stock.price > this.funds
            }
        },
        methods: {
            buyStock(){
                const order = {
                    id: this.stock.id,
                    price: this.stock.price,
                    qty: this.qty
                }
                this.$store.dispatch('buyStock', order)
                this.qty = 0;
            }
        }
    }
</script>