<template>
    <div class="app-stocks">
        <h1>The Stocks Component</h1>
        <div class="row">
            <app-stock v-for="stock in stocks"
                       :stock="stock"
                       type="number"></app-stock>
        </div>
    </div>

</template>

<script>
    import Stock from './Stock.vue'
    export default {
        components: {
            appStock: Stock
        },
        computed: {
            stocks(){
                return this.$store.getters.stocks
            }
        }
    }
</script>