<template>
    <div class="col-xs-12 col-sm-6">
        <ul class="list-group">
            selected: {{selectedItem.id}}
            <server v-for="(item, index) in listItems"
                    :index="index"
                    :item="item"></server>
        </ul>
    </div>
</template>

<script>
  import Server from './Server';
  import {dataBus} from '../../main';
  export default {
    components: {
      server: Server
    },
    data: function(){
      return {
        listItems: {},
        selectedItem: {}
      }
    },
    created(){
      this.listItems = dataBus.items
      dataBus.$on('selectItem', (item) => {
        this.selectedItem = item
      })
    }
  }


</script>

<style>

</style>
