<template>
      <li class="list-group-item">
        <div>
          {{index}} / {{item.id}} - {{item.name}} - {{item.color}}
          <button @click="selectItem(item)">Select item</button>
        </div>
      </li>
</template>

<script>
  import {dataBus} from '../../main';
  export default {
    props: ['index', 'item'],
    methods: {
      selectItem(item) {
        dataBus.selectedItem(item)
      }
    }
  }
</script>

<style>

</style>
