<template>
    <div class="col-xs-12 col-sm-6">
        <p>Server Details:</p>
        <div v-if="selectedItem.id">
          {{selectedItem.id}} - {{selectedItem.name}} - {{selectedItem.color}}
        </div>
    </div>

</template>

<script>
  import {dataBus} from '../../main';
  export default {
    data: function() {
      return {
        selectedItem: {}
      }
    },
    created(){
      dataBus.$on('selectItem', (item) => {
        this.selectedItem = item
      })
    }
  }
</script>

<style>

</style>
