<template>
    <div class="container">
        <div class="errors"
             v-show="showError"
             ref="errorBox">
            <div v-if="errors.has('email')" class="error">{{errorText.email}}</div>
            <div v-else-if="errors.has('password')" class="error">{{errorText.password}}</div>
            <div v-else>
                <p class="error" v-for="error in errors.items">{{error.msg}}</p>
            </div>
        </div>
        <form>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h1>File a Complaint</h1>
                    <hr>
                    <custom-switch v-model="userData.customSwitch"
                                   v-validate="'truthy'"
                                   name="customSwitch"></custom-switch>
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <input
                                type="text"
                                id="email"
                                class="form-control"
                                v-model="userData.email"
                                name="email"
                                v-validate="'required|email'">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                                type="password"
                                id="password"
                                class="form-control"
                                v-model.lazy.trim="userData.password"
                                name="password"
                                v-validate="'required'">
                        <!-- also modifiers are: trim or number -->
                        <p>{{userData.password}}</p>
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input
                                type="number"
                                id="age"
                                class="form-control"
                                v-model="userData.age"
                                name="age"
                                v-validate="'required|between:1,100'">
                    </div>
                    <div class="form-group">
                        <label for="trueField">True field</label>
                        <input type="number"
                               id="trueField"
                               name="trueField"
                               v-model.number="userData.trueField"
                               v-validate="'truthy'">
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-group">
                    <label for="message">Message</label><br>
                    <!-- Interpolation between <textarea>{{ test }}</textarea> doesn't work!-->
                    <textarea
                            id="message"
                            rows="5"
                            class="form-control"
                            placeholder="Add some text"
                            v-model="userData.msg"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <label for="sendmail">
                            <input
                                    type="checkbox"
                                    id="sendmail"
                                    value="SendMail"
                                    v-model="userData.sendMail"> Send Mail
                        </label>
                        <label for="sendInfomail">
                            <input
                                    type="checkbox"
                                    id="sendInfomail"
                                    value="SendInfoMail"
                                    v-model="userData.sendMail"> Send Infomail
                        </label>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-group">
                    <label for="male">
                        <input
                                type="radio"
                                id="male"
                                value="Male"
                                v-model="userData.gender"> Male
                    </label>
                    <label for="female">
                        <input
                                type="radio"
                                id="female"
                                value="Female"
                                v-model="userData.gender"> Female
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 from-group">
                    <label for="priority">Priority</label>
                    <select
                            id="priority"
                            class="form-control"
                            v-model="userData.priority">
                        <option value="" selected disabled hidden>Choose here</option>
                        <option v-for="option in options">{{option}}</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <button class="btn btn-primary"
                            :class="{blocked: !formIsValid}"
                            @click.prevent="submitted()">Submit!</button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row"
             v-if="isSubmitted && formIsValid">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Your Data</h4>
                    </div>
                    <div class="panel-body">
                        <p>Mail: {{userData.email}}</p>
                        <p>Password: {{userData.password}}</p>
                        <p>Age: {{userData.age}}</p>
                        <p>True Field: {{userData.trueField}}</p>
                        <p style="white-space: pre">Message: {{userData.msg}}</p>
                        <p><strong>Send Mail?</strong></p>
                        <ul>
                            <li v-for="item in userData.sendMail">
                                Send mail: {{item}}
                            </li>
                        </ul>
                        <p>Gender: {{userData.gender}}</p>
                        <p>Priority: {{userData.priority}}</p>
                        <p>Custom Switch: {{userData.customSwitch}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import helpers from './helpers/helpers.js'
    import CustomSwitch from './components/custom-switch.vue'
    export default {
        components: {
            CustomSwitch
        },
        data(){
            return {
                userData: {
                    email: '',
                    password: '',
                    age: 0,
                    trueField: 0,
                    msg: '',
                    sendMail: [],
                    gender: [],
                    priority: '',
                    customSwitch: false
                },
                options: [
                    'Miki',
                    'Tiki',
                    'Taki'
                ],
                showError: false,
                isSubmitted: false,
                errorText: {
                    email: 'Wrong e-mail address',
                    password: 'Wrong password',
                }
            }
        },
        methods: {
            submitted(){
                const self = this;
                this.showError = true;
                this.isSubmitted = true;
                this.$validator.validate().then(result => {
                    if (!result) helpers.scrollIt(self.$refs.errorBox.offsetTop, 300, 'easeOutQuad')
                });
            },


        },
        computed: {
            formIsValid(){
                return !this.errors.any()
            }
        },
        mounted(){
            this.$validator.validate()
        }
    }
</script>

<style>
    .blocked {
        opacity: 0.5;
    }

    .errors {
        padding: 20px;
    }

    .error {
        background: #ffa0ac;
        padding: 10px;
        border: 1px solid #ff729a;
        margin-bottom: 10px;
    }
</style>
