<template>
    <div>
        <p>Counter is: {{ counter }}</p>
        <p>
            Number of Clicks: {{ clicks }}
        </p>
        <p>Real counter: {{ realCounter }}</p>
    </div>
</template>

<script>
    import * as types from '../store/types'

    export default {
        computed: {
            counter(){
                return this.$store.getters[types.DOUBLE_COUNTER]
            },
            clicks(){
                return this.$store.getters[types.CLICK_COUNTER]
            },
            realCounter(){
                return this.$store.getters.stringCounter
            }
        }
    }
</script>