<template>
  <section class="insert-quote-container">
    <div class="form-group">
      <label for="quote">Add Quote:</label>
      <textarea class="form-control"
                rows="5"
                id="quote"
                v-model="quote"></textarea>
    </div>
    <button type="button"
            class="btn btn-primary"
            @click="addQuote()">Add Quote</button>
  </section>
</template>

<script>
  import {dataBus} from '../main.js'
  export default {
    data: function () {
      return {
        quote: ''
      }
    },
    methods: {
      addQuote(){
        if(this.quoteLengthError) alert(`Quote can't be empty`);
        else if(dataBus.limitError) alert(`You have reached the limit!`);
        else {
            dataBus.addQuote(this.quote);
            this.quote = '';
        }
      }
    },
    computed: {
      quoteLengthError() {
        return this.quote === ''
      }
    }
  }
</script>

<style>

</style>
