<template>
  <section class="progress-bar-wrapper">
    <h1>{{headline}}</h1>
    <div class="progress">
      <div class="progress-bar"
           role="progressbar"
           :style="{width: width}"
           aria-valuenow="75"
           aria-valuemin="0"
           aria-valuemax="100"></div>
    </div>
  </section>
</template>

<script>
  import {dataBus} from '../main.js'
  export default {
    data: function () {
      return {
        headline: '',
        quotes: []
      }
    },
    created(){
      this.headline = dataBus.headline;
      this.quotes = dataBus.quotes;
    },
    computed: {
        width: function () {
            return (this.quotes.length * 10) + '%';
        }
    }
  }
</script>

<style>

</style>
