<template>
  <section class="quotes-list-container">
    <ul class="quotes-list">
      <li class="quotes-list-single-item"
          v-for="(quote,index) in quotes"
          @click="removeQuote(index)">{{quote}}</li>
    </ul>
    <div class="alert alert-info">
      <strong>Info!</strong> To remove the quote please click on the quote tile.
    </div>
  </section>
</template>

<script>
  import {dataBus} from '../main.js'
  export default {
    data: function () {
      return {
        quotes: []
      }
    },
    created(){
      this.quotes = dataBus.quotes;
    },
    methods: {
        removeQuote(index){
            dataBus.removeQuote(index);
        }
    }
  }
</script>

<style scoped>
  .quotes-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
  }
  .quotes-list-single-item {
    width: calc(20% - 10px);
    margin: 0 10px 10px 0;
    display: block;
    padding: 20px;
    border: 1px solid #ccc;
  }
  .quotes-list-single-item:hover {
    border: 1px solid red;
    cursor: pointer;
  }
</style>
