<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br>
                <button class="btn btn-primary" @click="pickComponent('appBlue')">Load Blue Template</button>
                <button class="btn btn-success" @click="pickComponent('appGreen')">Load Green Template</button>
                <button class="btn btn-danger" @click="pickComponent('appRed')">Load Red Template</button>
                <hr>

                <keep-alive>
                    <component :is="componentName">
                        <p slot="line-one">some blue test #1</p>
                        <p slot="line-two">some blue test #2</p>
                    </component>
                </keep-alive>
            </div>
        </div>
    </div>
</template>

<script>
    import Blue from './components/Blue.vue';
    import Green from './components/Green.vue';
    import Red from './components/Red.vue';

    export default {
        data: function () {
            return {
                componentName: 'appBlue'
            }
        },
        components: {
            appBlue: Blue,
            appGreen: Green,
            appRed: Red
        },
        methods: {
            pickComponent(compName){
                this.componentName = compName
            }
        }
    }
</script>

<style>
</style>
