<template>
    <div class="container">
      <progress-bar></progress-bar>
      <add-quote></add-quote>
      <quotes-list></quotes-list>
    </div>
</template>

<script>
    import ProgressBar from './components/progress-bar.vue'
    import AddQuote from './components/add-quote.vue'
    import QuotesList from './components/quotes-list.vue'
    export default {
      components: {
        ProgressBar,
        AddQuote,
        QuotesList
      }
    }
</script>

<style>
</style>
